<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>

  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="http://www.github.com/jonatandb" class="lang-logo">
          <img src="/MySelf2019.jpg" alt="Jonatandb picture linked to github.com/jonatandb" />
        </a>
        <h1>Jonatandb</h1>
        <p>Yo ❤ <a href="http://www.spacedashboard.com" target="_blank">SpaceDashboard.com</a></p>
      </div>
    </div>
  </body>
</html>
